<section class="form-section text-center mb-5">
  <h1 class="page-title">Image scraping site</h1>
  <form class="ae" action="imgApi" method="POST">
    <input
      type="url"
      placeholder="Type your URL here ...."
      required
      name="inputData"
      class="input"
    />
    <button class="button" value="Send">Send</button>
  </form>
</section>
