<%- include('includes/head') %>
<link rel="stylesheet" href="./css/input.css">
<link rel="stylesheet" href="./css/notification.css">
<link rel="stylesheet" href="./css/error.css">
<script src="./js/glightbox.min.js" defer></script>
<script src="./js/main.js" defer></script>
<script src="./js/wow.min.js" defer></script>
<script src="./js/notification.js" defer></script>

<title>ERROR 500
</title>
</head>
<body>
<%- include('includes/header') %>
<main>
    <section class="error-section">

<h1>500</h1>
 
<h3>Error 500 Unfortunately something went wrong </h3>

<div class="btn-section">
    <a href="/">Back to safety</a>
 </div>

</section>

</main>

<%- include('includes/footer') %>
</body>
</html>