<%- include('includes/head') %>


<title>Home page</title>
</head>
<body>
<%- include('includes/header') %>
<main>

 <%- include('includes/home-sec') %>

 
</main>

<%- include('includes/footer') %>
</body>
</html>