<%- include('includes/head') %>
<link rel="stylesheet" href="./css/input.css">
<title>Indeed</title>
</head>
<body>
<%- include('includes/header') %>
<main>

 <%- include('includes/input') %>

 
</main>

<%- include('includes/footer') %>
</body>
</html>